@{
    ViewData["Title"] = "Catalogue";
}

<div class="text-center">
    <h1 class="display-4">Catalogue</h1>
    <form action="" method="get">
        <br>
        <label for="name">Enter the name of the book or the author you are looking for: </label>
        <br>
        <input type="text" name="name" id="name" required />
        <br>
        <input type="submit" value="Search!" />
    </form>
</div>