@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <img src="https://www.pixelstalk.net/wp-content/uploads/2016/06/Book-wallpaper-photos-hd-wallpapers.jpg" width=750px>
</div>
