@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
    <form action="" method="get">
        <br>
        <label for="name">Enter your name or Id: </label>
        <br>
        <input type="text" name="name" id="name" required />
        <br>
        <input type="submit" value="Login!" />
    </form>
</div>