@{
    ViewData["Title"] = "Staff Area";
}

<div class="text-center">
    <h1 class="display-4">Staff Area</h1>
    <p>Update the catalogue</p>
    <form action="" method="get">
        <br>
        <label for="name">Enter the name of the book or the author to update: </label>
        <br>
        <input type="text" name="name" id="name" required />
        <br>
        <input type="submit" value="Update!" />
    </form>
    <br>
    <p>Update a member detail</p>
    <form action="" method="get">
        <br>
        <label for="name">Enter the member's name or Id to update: </label>
        <br>
        <input type="text" name="name" id="name" required />
        <br>
        <input type="submit" value="Update!" />
    </form>
</div>